.tab-content {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.tab-content>section {
  display: none;
  color: var(--grey);
  font-weight: 300;
  animation: upList 1s;
  height: 500px;
}

.tab-content>section>p {
  text-align: left;
}

.tab-content>section>h3 {
  margin-bottom: 10px;
}

.tab-list-wrapper {
  margin-bottom: 10px;
  width: 100%;
}

.title-tab-list {
  background-color: var(--bg-panel-low);
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 90%;
  border-radius: 0 1rem 0 1rem;
  cursor: default;
}

.title-tab-list>h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  width: 10%;
  padding-left: 3%;
  font-size: 1.3rem;
  font-weight: 300;
}

.title-tab-list>p {
  width: 90%;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.2rem;
}

.subject-tab-list {
  background-color: var(--green-list);
  width: 90%;
  padding: 5px 20px 5px 20px;
  border-radius: 0 1rem 0 1rem;
  margin: -10px 0 0 10%;
  border: 2px solid var(--bg-panel-low);
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--color-text);
  display: inline-block;
  overflow: hidden;
  direction: ltr;
  text-align: justify;
  /* height: 40px; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

@keyframes upList {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .tab-content>section {
    height: 400px;
  }
}
