header {
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

header>div {
  height: 100%;
  width: 98%;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.toggle {
  justify-content: flex-end;
  align-items: center;
}
