:root {
  --bg: #FCFCFC;
  --bg-panel-low: rgba(0, 0, 0, 0.12);
  --bg-panel-medium: rgba(0, 0, 0, 0.08);
  --bg-panel-high: rgba(0, 0, 0, 0.04);
  --color-text: #2a2e2a;
  --grey: #d4ebdb;
  --grey-hover: #aec2ae;

  /* Utils */
  --tool: #FBC56C;
  --green: #04D361;
  --green-list: #03a04a;
  --green-hover: #01ac4e;
  --grey-squares: rgba(22, 130, 25, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-text);
  background-color: var(--bg);
  font-family: 'Red Rose', cursive;
}

header {
  height: 5vh;
  width: 100vw;
}

main {
  height: 90vh;
  width: 100vw;
}

footer {
  height: 5vh;
  width: 100vw;
}

header>div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5px 0 0;
}

footer>div {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

footer>div>p {
  font-size: 0.8rem;
  opacity: 0.6;
  cursor: default;
}

footer>div>p:hover {
  color: var(--green-hover);
  transition: .2s;
}

@media (max-width: 600px) {
  main {
    height: 79vh;
    width: 100vw;
  }
}
