:root {
  --bg: #333333;
  --bg-panel-low: rgba(0, 0, 0, 0.12);
  --bg-panel-medium: rgba(0, 0, 0, 0.08);
  --bg-panel-high: rgba(0, 0, 0, 0.04);
  --color-text: #d4f1d4;
  --grey: #d4ebdb;
  --grey-hover: #aec2ae;

  /* Utils */
  --tool: #FBC56C;
  --green: #04D361;
  --green-list: #03a04a;
  --green-hover: #01ac4e;
  --grey-squares: rgba(22, 130, 25, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-text);
  background-color: var(--bg);
  font-family: 'Red Rose', cursive;
}

main {
  height: 90vh;
  width: 100vw;
}

@media (max-width: 600px) {
  main {
    height: 78vh;
    width: 100vw;
  }
}
