.squares li {
  background-color: var(--grey-squares);
  display: block;
  position: absolute;
  animation: up-squares 2s infinite alternate;
  z-index: -1;
  border-radius: 0.1rem;
}

@keyframes up-squares {
  from {
    opacity: 0;
    transform: translateY(0);
  } 50%{
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}