* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #282c34;
  font-family: Roboto, Arial, sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 3rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.2rem;
}

div {
  margin-bottom: 1rem;
}

div label {
  font-size: 1rem;
  color: #282c34;
}

div input {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 1rem;
  color: #282c34;
  border-radius: 0.2rem;
  border: 1px solid #ccddef;
  outline-color: #282c34;
}

form button {
  display: block;
  min-width: 9rem;
  border: none;
  background-color: #282c34;
  color: white;
  border-radius: 1.7rem;
  margin: auto;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

.form-login {
  overflow: hidden;
  animation: fade 500ms;
}

form .input-block:nth-child(1) {
  animation: move 500ms;
}

form .input-block:nth-child(2) {
  animation: move 500ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 500ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  } to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from { 
    transform: translateY(0);
  } to {
    transform: translateY(100vh);
  }
}

form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%, 100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}
/* squares */
.squares li {
  background-color: rgba(255, 255, 255, 0.14);
  display: block;
  position: absolute;
  animation: up 2s infinite alternate;
  z-index: -1;
  border-radius: 0.1rem;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  } 50%{
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}

@media (max-width: 400px) {
  div input {
    padding: 0.3rem;
  }
}