:root {
  --text-color: #ecfaec;
  --text-color-hover: #e1f7e1;
  --grey: #d4ebdb;
  --grey-hover: #aec2ae;
  --background-color-transparency-low: rgba(255, 255, 255, 0.12);
  --background-color-transparency-medium: rgba(255, 255, 255, 0.08);
  --background-color-transparency-high: rgba(255, 255, 255, 0.04);
  --background-color: #282c34;

  /* Utils */
  --tool: #FBC56C;
  --green: #04D361;
  --green-hover: #01ac4e;
  --grey-squares: rgba(22, 130, 25, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Red Rose', cursive;
}

header {
  height: 5vh;
  width: 100vw;
}

main {
  height: 90vh;
  width: 100vw;
}

footer {
  height: 5vh;
  width: 100vw;
}

header>div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

footer>div {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

footer>div>p {
  font-size: 0.8rem;
  opacity: 0.6;
  cursor: default;
}

footer>div>p:hover {
  color: var(--green-hover);
  transition: .2s;
}

.theme-dark {
  transition: .2s;
  --text-color: #ecfaec;
  --text-color-hover: #e1f7e1;
  --background-color: #282c34;
  --background-color-transparency-low: rgba(255, 255, 255, 0.12);
  --background-color-transparency-medium: rgba(255, 255, 255, 0.08);
  --background-color-transparency-high: rgba(255, 255, 255, 0.04);
}

.theme-white {
  transition: .2s;
  --text-color: #282c34;
  --text-color-hover: #232730;
  --background-color: #ecfaec;
  --background-color-transparency-low: rgba(0, 0, 0, 0.12);
  --background-color-transparency-medium: rgba(0, 0, 0, 0.08);
  --background-color-transparency-high: rgba(0, 0, 0, 0.04);
}

.btn-dark-mode {
  height: 50%;
  width: 2%;
  margin-right: 8px;
  border-radius: 44%;
  outline: none;
  cursor: pointer;
  background-color: #282c34;
}

.btn-white-mode {
  height: 50%;
  width: 2%;
  border-radius: 44%;
  outline: none;
  cursor: pointer;
  background-color: #ecfaec;
}

.active-theme {
  transition: .2s;
  border: 1px solid var(--green-hover);
}

.squares li {
  background-color: var(--grey-squares);
  display: block;
  position: absolute;
  animation: up-squares 2s infinite alternate;
  z-index: -1;
  border-radius: 0.1rem;
}

@keyframes up-squares {
  from {
    opacity: 0;
    transform: translateY(0);
  } 50%{
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}

@media (max-width: 600px) {
  .btn-dark-mode {
    height: 60%;
    width: 5%;
  }
  
  .btn-white-mode {
    height: 60%;
    width: 5%;
  }

  main {
    height: 77vh;
    width: 100vw;
  }
}
