:root {
  --tool: #FBC56C;
  --green: #04D361;
  --green-dark: #01ac4e;
  --grey-squares: rgba(22, 130, 25, 0.2);
  --white: #ecfaec;
  --grey: #d4ebdb;
  --grey-dark: #aec2ae;
  --white-transparency-low: rgba(255, 255, 255, 0.12);
  --white-transparency-medium: rgba(255, 255, 255, 0.08);
  --white-transparency-high: rgba(255, 255, 255, 0.04);
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  background-color: #282c34;
  font-family: 'Red Rose', cursive;
  height: 100vh;
  width: 100vw;
}

header {
  height: 5vh;
  width: 100vw;
}

main {
  height: 90vh;
  width: 100vw;
}

footer {
  height: 5vh;
  width: 100vw;
  padding: 1.5vh 2vw 0 0;
}

footer>p {
  text-align: right;
  font-size: 0.8rem;
  opacity: 0.6;
  cursor: default;
}

footer>p:hover {
  color: var(--green-dark);
  transition: .2s;
}

.squares li {
  background-color: var(--grey-squares);
  display: block;
  position: absolute;
  animation: up-squares 2s infinite alternate;
  z-index: -1;
  border-radius: 0.1rem;
}

@keyframes up-squares {
  from {
    opacity: 0;
    transform: translateY(0);
  } 50%{
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}
