:root {
  --black: #130f0d;
  --primary: #fd951f;
  --color-line-in-white: #6A6180;
  --green: #04D361;
  --green-dark: #01ac4e;
  --green-high-text: #012406;
  --white: #ecfaec;
  --white-transparency-low: rgba(255, 255, 255, 0.12);
  --white-transparency-medium: rgba(255, 255, 255, 0.08);
  --white-transparency-high: rgba(255, 255, 255, 0.04);
  --grey: #d4ebdb;
  --grey-dark: #aec2ae;
  --grey-squares: rgba(22, 130, 25, 0.2);
  --tool: #FBC56C;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  background-color: #282c34;
  font-family: 'Red Rose', cursive;
}

.assign-bottom {
  text-align: right;
  margin: 2.2rem 1rem 0 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.squares li {
  background-color: var(--grey-squares);
  display: block;
  position: absolute;
  animation: up-squares 2s infinite alternate;
  z-index: -1;
  border-radius: 0.1rem;
}

@keyframes up-squares {
  from {
    opacity: 0;
    transform: translateY(0);
  } 50%{
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}
