.loading-effect {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center; 
}

.wrapper-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loading-effect>div>p {
  font: 400 2.0rem Archivo;
  margin: 0.5rem 0 0 0;
}

.keyboard-loading {
  height: 3.8rem;
  width: 7rem;
  z-index: 2;
  border-radius: 7px;
  background: linear-gradient(
    135deg,
    var(--green),
    var(--green-hover))
  ;
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
  z-index: 3;
}

.keyboard-loading::before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  margin: 10px 0 0 0;
  transform: scaleY(.8);
  background: var(--grey-hover);
  box-shadow: 
    0 12px 0 var(--grey-hover),
    0 24px 0 var(--grey-hover),
    0 36px 0 var(--grey-hover)
  ;
}

.slider-loading {
  position: absolute;
  width: 87px;
  height: 20px;
  border-radius: 3px;
  margin: 0 0 3.4rem -14px;
  transform: translateX(34px);
  background: linear-gradient(var(--green), var(--green-hover));
  animation: slide 2s ease infinite;
  z-index: 1;
}

.slider-loading::before,
.slider-loading::after {
  content: '';
  position: absolute;
  background: var(--tool);
}

.slider-loading::before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.slider-loading::after {
  left: 89px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.hand-loading {
  margin: 0 0 3.7rem 0;
  border-radius: 0.1rem 0 0 0.1rem;
  height: 3px;
  width: 12px;
  background-color: var(--tool);
  animation: slide 2s ease infinite;
  transform: translateX(34px);
  z-index: 1;
}

.hand-loading::before {
  content: '';
  position: absolute;
  background: var(--tool);
  width: 3px;
  height: 15px;
  border-radius: 0.1rem;
  top: -100%;
}

.paper-loading {
  position: absolute;
  margin: 0 0 5rem 0;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--text-color);
  transform: translateY(46px);
  animation: paper 2s linear infinite;
  z-index: 2;
}

.paper-loading::before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(.8);
  background: var(--grey-hover);
  box-shadow:
    0 12px 0 var(--grey-hover),
    0 24px 0 var(--grey-hover),
    0 36px 0 var(--grey-hover)
  ;
}

@keyframes slide {
  5% {
      transform: translateX(34px);
  }
  15%,
  30% {
      transform: translateX(22px);
  }
  40%,
  55% {
      transform: translateX(12px);
  }
  65%,
  70% {
      transform: translateX(2px);
  }
  80%,
  89% {
      transform: translateX(-6px);
  }
  100% {
      transform: translateX(34px);
  }
}

@keyframes paper {
  5% {
      transform: translateY(46px);
  }
  20%,
  30% {
      transform: translateY(34px);
  }
  40%,
  55% {
      transform: translateY(22px);
  }
  65%,
  70% {
      transform: translateY(10px);
  }
  80%,
  85% {
      transform: translateY(0);
  }
  92%,
  100% {
      transform: translateY(46px);
  }
}
