.section-login {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-login {
  margin: 0;
  padding: 0;
}

.close-login {
  text-align: right;
  margin: 0 0 -1.5rem 0;
  padding: 0 0.5rem 0 0;
  cursor: pointer;
  animation: fade-login 500ms;
}

.form-login {
  margin: 0;
  background-color: var(--white-transparency-high);
  padding: 2.5rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  height: 13rem;
  width: 17rem;
}

.input-block-login {
  margin-bottom: 1rem;
}

.label-login {
  font-size: 1.1rem;
}

.input-login {
  width: 100%;
  display: block;
  margin: 0.8rem 0 2rem 0;
  padding: 0.4rem;
  font-size: 1rem;
  font: 300 1.0rem Archivo;
  background-color:  var(--white-transparency-medium);
  border-radius: 0.2rem;
  border: 1px solid var(--white);
  outline-color: var(--green-dark);
  color: var(--white);
}

.form-login {
  overflow: hidden;
  animation: fade-login 500ms;
}

.input-block-login:nth-child(1) {
  animation: move-login 500ms;
}

.input-block-login:nth-child(2) {
  animation: move-login 500ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

.btn-login {
  display: block;
  min-width: 9rem;
  border: none;
  background-color: transparent;
  color: var(--white);
  border-radius: 0 0 0.7rem 0.7rem;
  border: 1px solid var(--white);
  margin: auto;
  padding: 0.7rem;
  cursor: pointer;
  outline: none;
  font: 700 1.0rem Archivo;
  text-transform: uppercase;
  animation: move-login 500ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

.btn-login:hover {
  background: var(--green-dark);
}

@keyframes fade-login {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move-login {
  from {
    opacity: 0;
    transform: translateX(-35%);
  } to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.form-hide-login {
  animation: down-login 1s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down-login {
  from { 
    transform: translateY(0);
  } to {
    transform: translateY(100vh);
  }
}

.form-close-login {
  animation: close-login 500ms ease-in-out;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes close-login {
  from { 
    transform: scale(100%);
    opacity: 1;
  } to {
    transform: scale(0);
    opacity: 0;
  }
}

.validate-error-login {
  animation: nono-login 200ms linear, fade-login paused;
  animation-iteration-count: 2;
}

@keyframes nono-login {
  0%, 100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}

@media (max-width: 400px) {
  .input-block-login {
    padding: 0.3rem;
  }

  .input-login {
    width: 100%;
    display: block;
    margin: 0.8rem 0 0.8rem 0;
  }
}
