.section-tabs {
  height: 100%;
  display: none;
  justify-content: center;
}

.section-tabs>div {
  height: 100%;
  min-width: 50%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrapper-tabs {
  width: 100%;
  height: 15%;
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem 3rem 0 3rem;
}

.tab-links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-tab {
  color: var(--text-color);
  border: none;
  background: transparent;
  font: 700 1.1rem Archivo;
  padding: 0.5rem 1rem;
  outline: none;
  position: relative;
  cursor: pointer;
}

.btn-tab:nth-child(2) {
  margin: 0 3rem;
}

.btn-tab::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--green-hover);
  transition: .4s;
}

.btn-tab:hover::after,
.btn-tab.active::after {
  width: 100%;
}

@media (max-width: 400px) {
  .btn-tab {
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
  }

  .btn-tab:nth-child(2) {
    margin: 0 1rem;
  }

  .section-tabs>div {
    width: 90%;
  }

  .wrapper-tabs {
    padding: 0.8rem 0 0 0;
  }
}
